
body{
  background-color: #000010;  
  color: #ccc;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.content{
  display: flex;
  width: 97.9vw;
}
.cont-grid{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
}
.cont-books{
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  border-bottom: 2px solid #aa0090;
}
.img-grid-item{
  width: 100%;
  max-width: 180px;
  height: 250px;
}
.info-book{
  
  width: 100%;
  max-width: 180px; 
}

.info-book p{
  font-size: 13px;
  margin-top: 3px;
  margin-left: 3px;
}
.cono{
  width: 30px;
  height: 30px;
  position: relative;
  transform: translateY(30px);
  color: #aa0080;
}
.menu{
  width: 17%;
  height: 200%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}
.search{
  padding: 5px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 7px;
  font-size: 15px;
  border-bottom: 3px solid #aa0090;
  outline: none;
  float: inline-start;
  width: 160px;

}

.menu h1 {
  margin: 0;
}
.cont-filter{
  padding: 10px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
}

.cont-filter p{
  color: #fff;
  display: inline-block;

}

.cont-filter span{
  color: #999;
}
.select{
  width: 150px;
  padding: 2px;
  border: none;
  outline: none;
  border-radius: 5px;

}

.cont-select-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid #aa0090;
  padding: 10px;
}
.cont-labels{
  margin-left: 0;
  width: 100%;
  border-bottom:2px solid #aa0090;
  padding: 10px;
}

.cont-gallery{
  width: 80%;
  height: 100%;
  padding: 10px;
}
.libros-disponibles{
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
}

.icon{
  transform: translateY(2px);
  color: #aa0090;
}